<launch>
	<include file="$(find turtlebot_follower)/launch/includes/_velocity_smoother.launch"/>
	<node pkg="mazeDancing" name="sensingNode" required="true" type="md_sensing" output="screen"></node>
	<node pkg="mazeDancing" name="speechNode" required="true" type="md_speech" output="screen"></node>
</launch>
